<a href="https://colab.research.google.com/github/rubenDirinott/Primerdataframe/blob/main/TP1/_CreandodataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creacion de dataframe
import pandas as pd
 #crear dato
df1=pd.DataFrame({'idn1':[1,2,3],
                      'nombre':['ana','juan','maria']})
df2=pd.DataFrame({'idn2':[1,2,3],
                       'edad':[23,34,29]})

In [ ]:
print(df1)

   idn1 nombre
0     1    ana
1     2   juan
2     3  maria

In [ ]:
print(df2)

   idn2  edad
0     1    23
1     2    34
2     3    29

# Merge

In [ ]:
df_merged=pd.merge(df1,df2,left_on='idn1',right_on='idn2')
print(df_merge)

   idn1 nombre  idn2  edad
0     1    ana     1    23
1     2   juan     2    34
2     3  maria     3    29

In [ ]:
print(df_merged)

   idn1 nombre  idn2  edad
0     1    ana     1    23
1     2   juan     2    34
2     3  maria     3    29

In [ ]:
#Concat
#Crear dataframe   ejemplo
df3=pd.DataFrame({'nombre':['laura','pedro'],
                  'edad':[30,45]})

In [ ]:
print(df3)

  nombre  edad
0  laura    30
1  pedro    45

Concatenar Dataframe Verticalmente   AXis


```

In [ ]:
df_conct=pd.concat([df_merged,df3],axis=0, ignore_index=True )

In [ ]:
print (df_conct)

   idn1 nombre  idn2  edad
0   1.0    ana   1.0    23
1   2.0   juan   2.0    34
2   3.0  maria   3.0    29
3   NaN  laura   NaN    30
4   NaN  pedro   NaN    45

# Combianmos  datos de fentes difrentes

In [ ]:
#Data Frame  ejemplo

empleados=pd.DataFrame({'id':[1,2,3], 'Nombre':['ana','juan','finanza']})
departamentos=pd.DataFrame({'id':[1,2,3],'departamento':['ventas','marketing','finanza']})

In [ ]:
print(empleados)
print(departamentos)

   id   Nombre
0   1      ana
1   2     juan
2   3  finanza
   id departamento
0   1       ventas
1   2    marketing
2   3      finanza

## Funcion del data Frame  por id

In [ ]:
empleados_dpt=pd.merge(empleados,departamentos,on='id')

Visulizamo data frame Resultante

In [ ]:
print(empleados_dpt)

   id   Nombre departamento
0   1      ana       ventas
1   2     juan    marketing
2   3  finanza      finanza